= turbo_stream.append 'posts', partial: 'posts/post', locals: { post: @post, group: @group }
= turbo_stream.replace 'new_post', partial: 'posts/form', locals: { group: @group }
= turbo_stream.prepend 'flash', partial: 'application/flash'
